* {
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}


.nome{
    margin-left: 5%;
}
.navegacao{
    list-style: none;
    display: flex;
    margin-right: 5%;
}

.item{
    margin-left: 50px; }


.redirecionar{
    text-decoration: none; 
    color: black; 
}

/* Estilo para links ao passar o mouse */
.redirecionar:hover {
    text-decoration: underline;
}
